.footer {
  padding: 15px;
  text-align: center;
}

.date {
  text-align: center;
   color: gray;
   padding-bottom: 3px;
}

.border {
  margin-top: 80px;
  margin-bottom: 10px;
  border: 1px solid rgb(246, 77, 77);
  margin-left: 40px;
  margin-right: 40px;
}

